<p>{{lang == 'pt-BR' ? 'Olá' : 'Hello'}} {{displayName}}!</p>
<p>{{
  lang == 'pt-BR' ?
      'Este é o codigo para verificar seu email no Posicionamento:'
    :
      'This is the code to verify your email in Posicionamento:'
}}</p>
<h1>{{token}}</h1>